@charset "UTF-8";

	/* 리스트부분  */
	section #board-container {
	width:600px; 
	margin:0 auto; 
	text-align:center;
}

	section #board-container h2 {
	margin:10px 0;
}

	table#tbl-board {
	width:100%; 
	margin:0 auto; 
	border:1px solid black; 
	border-collapse:collapse; 
	clear:both; 
}

	table#tbl-board th, table#tbl-board td {
	border:1px solid;
	padding: 5px 0; 
	text-align:center !important;
} 

	/* 버튼 */
	button#btn-add { 
	float:right; 
	margin: 0 50px 15px;
}