
/* 새로 추가한 회원정보 수정 관련 CSS 파일입니다. 그대로 추가해주세요. */

@charset "UTF-8";

        #allcode {
            width: 1000px;
            height: 1700px;
            margin: auto; 
        }

        #title1 {
            text-align: center;
            border: 1px solid;
            border-radius: 28px;
            width: 260px;
            margin-top: 80px;
            margin-left: 370px;
            background-color: steelblue;
            border-color: steelblue;
            color: white;
            font-size: 16px;
        }

        #first {
            margin-top: 60px;
        }

        #hr1 {
            width: 600px;   
            margin-top: 40px;     
        }

        #info1 {
            color: red;
            margin-left: 400px;
            font-weight: bolder;
            font-size: 16px;

        }

        label {
            margin-left: 350px;
        }

        label>input {
            height: 22px;
        }

        #newId {
            margin-top: 40px;
            margin-left: 70px;
        }

        #userPwd1 {
            margin-left: 54px;
        }

        #userPwd2 {
            margin-left: 17px;
        }

        #userName {
            margin-left: 86px;
        }

        #phone {
            margin-left: 38px;
        }

        #email {
            margin-left: 70px;
        }

        #address {
            margin-left: 86px;
        }

        #submitbtn {
            width: 80px;
            height: 33px;
            /* margin-left: 460px; */
            margin-top: 60px;
            float: right;
            margin-right: 200px;
            background-color: black;
            color: white;
            border-radius: 30px;
            border-color: black;
        }

        #buttons {
            text-align: center;
            margin-top: 40px;
        }